RewriteEngine On

# 1. Denegar acceso a lo sensible
RewriteRule ^(src|config|vendor|composer\.(json|lock)) - [F,L]

# 2. Si la petición NO empieza con /public, la mandamos ahí
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]