RewriteEngine On

# 1. Denegar acceso a lo sensible (Seguridad)
RewriteRule ^(src|config|vendor|composer\.(json|lock)) - [F,L]

# 2. Evitar bucles: Si el archivo o carpeta existe físicamente, que lo cargue directo
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# 3. Si no existe, mandar TODO el tráfico directamente al index.php de public
RewriteRule ^(.*)$ public/index.php [QSA,L]